a {
  color: #333333;
  text-decoration: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.paper-class {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
}

ul > li {
  list-style: "✅ ";
  margin: 8px;
}

li {
  text-align: left;
  margin: 8px;
}

.rainbow-text-animated {
  background: linear-gradient(
    to right,
    #6666ff,
    #0099ff,
    #00ff00,
    #ff3399,
    #6666ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}
